body{
	font-family: 'Montserrat', sans-serif;
	color: $color__body;
	font-weight: 500;
	font-size: 1.7rem;
	overflow-x: hidden;
}

a{
	color: $color__body;
	&:visited{
		color: initial;
	}
	&:hover, &:active, &:focus{
		text-decoration: none;
	}
}
@media screen and (min-width: 1200px){
	.container-fluid{
		max-width: 1710px;
	}
	nav{
		ul{
			display: flex;
			justify-content: space-between;
			li{
				position: relative;
				padding: 0 50px;
				&.current_page_item{
					a::after{
						opacity: 1;
						visibility: visible;
					}
				}
				a{
					position: relative;
					padding: 13px 0;
					&::after{
						opacity: 0;
						visibility: hidden;
						content: '';
						display: block;
						position: absolute;
						width: 100%;
						height: 3px;
						background-color: $color__red;
					}
				}
			}
			a{
				font-weight: 600;
				text-transform: uppercase;
				letter-spacing: .85px;
				
			}
			ol{
				position: absolute;
				opacity: 0;
				visibility: hidden;
			}
		}
	}
}
@media screen and (min-width: 1500px){
	.container-fluid{
	}
}
@media screen and (min-width: 1700px){
	.container-fluid{
	}
}
ul, ol{
	list-style: none;
	margin: 0;
	padding: 0;
}
.social-media{
	ul{
		display: flex;
		justify-content: space-between;
		li{
			padding: 0 15px;
			a{
				font-size: 2rem;
			}
		}
	}
}

.flexslider{
	border-radius: 0;
	border: 0;
	margin-bottom: 0;
	li{
		position: relative;
		h2{
			font-size: 6rem;
			letter-spacing: 12px;
			font-weight: 800;
			color: #fff;
			@include centerItem();
			line-height: 1.5;
			text-shadow: 5px 5px 6px #999999;
		}
	}
}
.flex-control-paging{
	display: none;
}
.home-stores{
	background-color: $color__yellow;
	padding: 90px 140px;
	text-align: center;
	h2{
		color: $color_dbrown;
		margin-bottom: 2em;
	}
	.wrapper{
		.inner-wrapper{
			ul{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				li{
					a{
						display: block;
						padding: 30px 30px 60px 30px;
						transition: all .25s ease-in-out;
						.store-image{
							margin-bottom: 60px;
						}
						h3{
							color: $color__body;
							
						}
						&:hover{
							background-color: $color__dyellow;
						}
					}
				}
			}
		}
	}
}
.whatson{
	padding: 80px 0;
	background: transparent linear-gradient(270deg, $color_dbrown 0%, $color__red 100%) 0% 0% no-repeat padding-box;
	h2{
		color: #fff;
	}
}
