h1{
	font-size: 6rem;
	letter-spacing: 12px;
	font-weight: 800;
	line-height: 1.5;
}
h2{
	letter-spacing: 7px;
	font-weight: 700;
	font-size: 3.5rem;
	line-height: 1.5;
}
h3{
	letter-spacing: 4px;
	font-weight: 600;
	font-size: 2rem;
	line-height: 1.2;
}